<tr>
  <td><%= result.question.content %></td>
  <td><%= result.answer.content unless result.answer.nil? %></td>
  <td>
    <% if result.answer.nil? || !result.answer.correct? %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% else %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  </td>
</tr>
