<% provide :title, t("All_user") %>
<h1><%= t "All_user" %></h1>
<%= will_paginate %>
<div class="container">
  <table class="table table-bordered">
    <%= render @users %>
  </table>
</div>
<%= will_paginate %>
