<tr>
  <td><%= exam.created_at %></td>
  <td><%= exam.category.name %></td>
  <td><%= exam.status %></td>
  <td></td>
  <td></td>
  <td><%= link_to t("exam_start"), edit_exam_path(exam), class: "btn btn-primary" %></td>
</tr>
