<hr>
<div class="row">
  <div class="col-md-12">
    <%= f.text_field :question_id, hidden: :true, readonly: :true %>
    <h3><%= f.object.question.content %></h3>
    <br>
  </div>
  <div class="col-md-12">
    <% f.object.question.answers.each_with_index do |answer,index| %>
      <div class="radio">
        <label>
          <%= f.radio_button :answer_id, answer.id %>
          <%= answer.content %>
        </label>
      </div>
    <% end %>
  </div>
</div>
