<div class="row">
  <div class="col-md-12">
    <%= f.text_field :question_id, hidden: :true, readonly: :true %>
    <h3><%= f.object.question.content %></h3>
    <br>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <% f.object.question.answers.each do |answer| %>
        <tr>
          <td><%= f.radio_button :answer_id, answer.id %></td>
          <td><%= answer.content %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>