<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".test_app"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".help"), help_path %></li>
        <li><%= link_to t(".sign_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
